<h1>Familiars</h1>
<% for familiar in @familiars %>
<div class ="familiar">
  <h3><a href="/familiars/<%= familiar.id %>"><%= familiar.name %></a></h3>
    <p>Species: <%= familiar.species %></p>
    <p>Admission Date: <%= familiar.admission_date %></p>
    <p>Adoptable?: <%= familiar.adoptable %></p>
    <p><a href="/familiars/<%= familiar.id %>/adoption-form">Assign</a></p>
    <hr>
  </div>
  <% end %>
