<h2><%= @familiar.name %></h2>

<p>Species: <%= @familiar.species.capitalize %></p>
<p>Admission Date: <%= @familiar.admission_date %></p>
<p>Adoptable?: <%= @familiar.adoptable %></p>
<% if @familiar.owner_id  != nil %>
<p>Owner: <%= @familiar.owner_id.name %></p>
<% end %>
